{% load pokedex_extra %}

<!DOCTYPE html>

<html lang="fr">

<head>

   <link rel="stylesheet" href="/static/css/bootstrap.css" />

   <title>{% block title %}{% endblock %}</title>

</head>

<body>

  <div class="accueil-logo text-center"> 

  <a href="/">Pokedex</a> 
  <p> Attrapez les tous </p>

  </div>

  <div class="container ">
    <div class="row">

            <div class="col-sm-8">
              {% if user.is_authenticated %}
              <p><a href="/equipe/">Voir mon équipe</a>{% block equipe %}{% endblock %}</p>
              {% else %}
                <p> Veuillez vous connecter pour voir votre equipe</p>
              {% endif %}
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4">
                  {% if user.is_authenticated %}
                    <a href="{% url 'profil' %}"><img alt="Avatar" src="{{profil.avatar.url}} alt="Avatar"></a>
                  {% else %}
                    <img src="../media/default.png" alt="Avatar">
                  {% endif %}
                </div>
                <div class="col-sm-8">
                  {% if user.is_authenticated %}
                  <table >
                      <tr>
                      <td><p>Salut {{ user.username }}</p></td>
                      </tr>
                      <tr>
                      <td><a href="{% url 'deconnexion' %}"> Se deconnecter</a></td>
                      </tr>
                  </table>
                  {% else %}
                  <table>
                      <tr>
                      <td><a href="{% url 'connexion' %}">Connexion</a></td>
                      </tr>
                      <tr>
                      <td ><a href="{% url 'inscription' %}">S'inscrire</a></td>
                      </tr>
                  </table>
                  {% endif %}
                </div>
                
            </div>
    </div>
  </div>



    <div class="row">

      <div class="col-sm-3 accueil-colonne-recherche">
      <a href="/pokedex/">Tout le pokédex</a>
      {% load bootstrap3 %}
      {% recherche_pok "" as form1 %}
      <form method="post" action="{% url 'find' %}" class="form">{% csrf_token %}
      {% bootstrap_form form1 %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Go !
          </button>
        {% endbuttons %} 
      
      </form>
      {% recherche_form "" as form2 %}
      <form method="post" action="{% url 'filtre' %}" class="form">{% csrf_token %}
        {% bootstrap_form form2 %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Je te choisis !
          </button>
        {% endbuttons %}      
      </form>
      </div>

      <div class="col-sm-9">
        <section id="content">

          {% block content %}{% endblock %}

        </section>
      </div>

    </div>
<div class="accueil-footer">
  <div class="row">
    <div class="col-sm-12">
      <h4>&copy; Pokedex</h4>
    </div>
  </div>
</div>
</body>

</html>