{% load pokedex_extra %}

<!DOCTYPE html>

<html lang="fr">

<head>

   <link rel="stylesheet" href="/static/css/bootstrap.css" />

   <title>{% block title %}{% endblock %}</title>

</head>

<body>

  <div class="accueil-logo text-center"> 

  <h1>Pokedex</h1> 
  <p> Attrapez les tous </p>

  </div>

  <div class="container ">
    <div class="row">

            <div class="col-sm-9">
              <div class="col-sm-2"><p>Pokemon 1</p></div>
              <div class="col-sm-2"><p>Pokemon 2</p></div>
              <div class="col-sm-2"><p>Pokemon 3</p></div>
              <div class="col-sm-2"><p>Pokemon 4</p></div>
              <div class="col-sm-2"><p>Pokemon 5</p></div>
              <div class="col-sm-2"><p>Pokemon 6</p></div>
            </div>
            <div class="col-sm-3">

                {% if user.is_authenticated %}
                <table >
                    <tr>
                    <td  rowspan=2 align=center >avatar </td>
                    <td%><p>Salut {{ user.username }}</p></td>
                    </tr>
                    <tr>
                    <td><a href="{% url 'deconnexion' %}"> Se deconnecter</a></td>
                    </tr>
                </table>
                {% else %}
                <table>
                    <tr>
                    <td rowspan=2 align=center>avatar</td>
                    <td><a href="{% url 'connexion' %}">Connexion</a></td>
                    </tr>
                    <tr>
                    <td ><a href="{% url 'inscription' %}">S'inscrire</a></td>
                    </tr>
                </table>
                {% endif %}
            </div>
    </div>
  </div>



    <div class="row">

      <div class="col-sm-3 accueil-colonne-recherche">

      {% load bootstrap3 %}
      {% recherche_pok "" as form1 %}
      <form method="post" action="find" class="form">
      {% bootstrap_form form1 %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Go !
          </button>
        {% endbuttons %} 
      
      </form>
      {% recherche_form "" as form2 %}
      <form method="post" action="filtre" class="form">
        {% bootstrap_form form2 %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Je te choisis !
          </button>
        {% endbuttons %}      
      </form>
      </div>

      <div class="col-sm-9">
        <section id="content">

          {% block content %}{% endblock %}

        </section>
      </div>

    </div>
<div class="accueil-footer">
  <div class="row">
    <div class="col-sm-12">
      <h4>&copy; Pokedex</h4>
    </div>
  </div>
</div>
</body>

</html>