<!DOCTYPE html>

<html lang="fr">

<head>

   <link rel="stylesheet" href="/static/css/bootstrap.css" />

   <title>{% block title %}Mon super pokedex{% endblock %}</title>

</head>

<body>

  <div class="accueil-logo text-center"> 

  <h1>Pokedex</h1> 
  <p> Attrapez les tous </p>

  </div>

  <div class="container">
    <div class="row">

           {% block nav %}

            <div class="col-sm-3"><a href="{% url 'index' %}" ">Accueil</a></div>

            <div class="col-sm-3"><a href="{% url 'sommaire' %}">Sommaire</a></div>

            <div class="col-sm-3"><a href="{% url 'afficher_date' %}">Date</a></div>

            <div class="col-sm-3"><p>La faut que je mette l'avatar </p></a></div>

           {% endblock %}

    </div>


  </div>
  <div>
  
    <section id="content">

      {% block content %}{% endblock %}

    </section>

  </div>

<footer>&copy; Pokedex</footer>

</body>

</html>