{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Votre nom de compte et votre mot de passe ne correspondent pas, veuillez réessayer</p>
{% endif %}

<h1>Se Connecter</h1>

{% if next %}
    {% if user.is_authenticated %}
    <p>Vous etes déja connecté {{ user.username }}</p>
    {% else %}
    <p>Veuillez vous connecter pour voir cette page.</p>
    {% endif %}
{% endif %}

<form method="post" action=".">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Connexion" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}