{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>L'inscription n'est pas valide, réessayez en faisant attention à votre mot de passe</p>
{% endif %}

<h1>S'inscrire</h1>

{% if next %}
    {% if user.is_authenticated %}
    <p>Vous etes déja inscrit {{ user.username }}</p>
    {% else %}
    <p>Veuillez vous inscrire pour voir cette page.</p>
    {% endif %}
{% endif %}

<form method="post" action=".">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.mail.label_tag }}</td>
    <td>{{ form.mail}}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
	<td>{{ form.passwordverif.label_tag }}</td>
    <td>{{ form.passwordverif }}</td>
</tr>
</table>


<input type="submit" value="inscription" /> <input type="reset" / disable>

<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}
