{% extends "base.html" %}

{% block title %}Pokemon{% endblock %}

{% block content %}
{% block pokemon %}

<div>
	<div>{{pokemon.nom_pokemon}}</div>

	<img src={{pokemon.image_pokemon.url}}>
	<div>Numéro : {{pokemon.numero_pokemon}}</div>
	<div>Type : 
		{%for type in pokemon.type_pokemon.all %}
			{% ifnotequal type.nom_type 'NULL' %}
				{{type.nom_type}}
			{% endifnotequal %}
		{% endfor %}
	</div>
	<div>Generation : {{pokemon.generation_pokemon}}</div>
	<div>Cout : {% ifequal pokemon.cout_pokemon -1%} BAN {%else%} {{pokemon.cout_pokemon}} {% endifequal %}</div>
<div>

{% endblock %}
{% endblock %}
