{% extends "pokemon.html" %}

{% block title %}Pokedex{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
		    <div class="row-same-height">
			{% for pokemon in pokemon %}
		
		        <div class="col-xs-4 col-xs-height col-full-height">
		        	<div class="pokemon"><div class="content">
		        	{% block pokemon %}
			    		 {{ block.super }}
			    	{% endblock %}
			    	</div></div>
			    </div>
			{% endfor %}
		   	</div>
		</div>

	
    </div>

{% endblock %}